<p id="notice"><%= notice %></p>

<h>Listing Notes</h>

  <thead>
<div class="row">
        <div class="col-xs-1"><b>Title</b></div>
        <div class="col-xs-1"><b>Body</b></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
      </div>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <div class="row">
        <div class="col-xs-1"><%= note.title %></div>
        <div class="col-xs-2"><%= note.body %></div>
        <div class="col-xs-2"><%= link_to 'Show', note %></div>
        <div class="col-xs-2"><%= link_to 'Edit', edit_note_path(note) %></div>
        <div class="col-xs-2"><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  </tbody>

<br>

<%= button_to 'New Note', new_note_path , :class => 'btn btn-success' %>
