<p id="notice"><%= notice %></p>

<h1>Listing Todos</h1>

  <thead>
<div class="row">
        <div class="col-xs-1"><b>Description</b></div>
        <div class="col-xs-1"><b>is_complete</b></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
      </div>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <div class="row">
        <div class="col-xs-1"><%= todo.description %></div>
        <div class="col-xs-2"><%= todo.is_complete %></div>
        <div class="col-xs-2"><%= link_to 'Show', todo %></div>
        <div class="col-xs-2"><%= link_to 'Edit', edit_todo_path(todo) %></div>
        <div class="col-xs-2"><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  </tbody>

<br>

<%= link_to 'New Todo', new_todo_path, :class => 'btn btn-primary'  %>
